<%= form_for(@customer, html: { class: 'form-horizontal' }) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, 'error') %> prohibited this order from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :order do |builder| %>
    <%= render 'order_fields', f: builder %>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :first_name, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address_2, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :address_2, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :state, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.number_field :zip_code, class: 'form-control' %>
    </div>
  </div>

  <div class="actions pull-right">
    <%= f.submit 'Purchase', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
