<!DOCTYPE html>
<html>
<head>
  <title>BeverageTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name}" %>">

<header>
  <div class="container-fluid">
    <h1>Sweat<span>$5</span></h1>
  </div>
</header>

<div class="content">
  <div class="container">
    <%= yield %>
  </div>
</div>

<footer>
  <div class="container">
    <div class="col-md-2">
      <div id="units-sold-number" class="portlet"><label>Units Sold</label><div><%= units_sold_count %></div></div>
      <div id="units-shipped-number" class="portlet"><label>Units Shipped</label><div><%= units_shipped_count %></div></div>
    </div>
    <div class="col-md-10">
      <div id="sales-feed" class="portlet">
        <label>Sales Feed</label>
        <ul>
          <li>first name, quantity, city, country</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="https://js.pusher.com/2.2/pusher.min.js"></script>
<script>
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var pusher = new Pusher('566aa5d2785eaa2ae144', {
    encrypted: true
  });
  var channel = pusher.subscribe('test_channel');
  channel.bind('my_event', function(data) {
    alert(data.message);
  });
</script>
</body>
</html>
