<!DOCTYPE html>
<html>
<head>
  <title>BeverageTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name}" %>">

<header>
  <div class="container-fluid">
    <h1>Sweat<span>$5</span></h1>
  </div>
</header>

<div class="content">
  <div class="container">
    <%= yield %>
  </div>
</div>

<footer>
  <div class="container">
    <div class="col-md-2">
      <div class="portlet"><label>Units Sold</label><div id="units-sold-number"><%= units_sold_count %></div></div>
      <div class="portlet"><label>Units Shipped</label><div id="units-shipped-number"><%= units_shipped_count %></div></div>
    </div>
    <div class="col-md-10">
      <div class="portlet">
        <label>Sales Feed</label>
        <ul id="sales-feed">
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="https://js.pusher.com/2.2/pusher.min.js"></script>
<script>
  function format_feed(type, message) {
    return '<li class="' + type + '"><strong>' +  message.first_name + '</strong> ' + message.city + ', ' + message.country + '<br />' + message.quantity + ' units ' + type + '</li>';
  }

  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var pusher = new Pusher('566aa5d2785eaa2ae144', {
    encrypted: true
  });
  var channel = pusher.subscribe('test_channel');
  var feed = document.getElementById("sales-feed");
  channel.bind('ordered', function(data) {
    var sold = document.getElementById("units-sold-number");
    sold.innerHTML = parseInt(sold.innerHTML) + data.message.quantity;
    feed.innerHTML = format_feed('ordered', data.message) + feed.children[0].outerHTML;
  });

  channel.bind('shipped', function(data) {
    var shipped = document.getElementById("units-shipped-number");
    shipped.innerHTML = parseInt(shipped.innerHTML) + data.message.quantity;
    feed.innerHTML = format_feed('shipped', data.message) + feed.children[0].outerHTML;
  });
</script>
</body>
</html>
